<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="timaris" name="change gr_number format" version="0.1">
  <details>
    <title>change gr_number format</title>
    <authors>EFTHYMIOS TZORTZIS</authors>
    <email>e-tim@otenet.gr</email>
    <image>images/grnumber.png</image>
    <description>An operator to change the format of greek-format numbers</description>
    <longdescription>DESCRIPTION.md</longdescription>
    <homepage>https://github.com/timaris/Wirecloud_Components/tree/master/change_gr_number_format_0.1-operator</homepage>
    <license>Apache License 2.0</license>
    <licenseurl>http://www.apache.org/licenses/LICENSE-2.0.html</licenseurl>
    <doc>doc/userguide.md</doc>
    <changelog>doc/changelog.md</changelog>
  </details>
  <wiring>
	<inputendpoint name="dataset" type="text" label="Data_In" description="Received dataset to change number format " friendcode="dataset"/>
    <outputendpoint name="output" type="text" label="Data_Out" description="The JSON to be sent" friendcode="output"/>
  </wiring>
  <scripts>
    <script src="js/maintim.js"/>
  </scripts>
</operator>
